bcrypt==3.1.7
click==7.1.2
Flask==1.1.2
Flask-Bcrypt==0.7.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
SQLAlchemy==1.3.18
Werkzeug==1.0.1
python-dotenv==0.14.0
pytest==6.0.1
pytest-cov==2.10.0
coverage==5.2.1
flask-sqlalchemy==2.4.4
WTForms==2.3.3
flask-wtf==0.14.3
