{% extends "./dashboard/index.html" %}

{% block maincontent %}
<main id="main-content" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-5 mt-3 mb-5">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flashes mt-2" style="text-decoration: none; list-style: none; margin: 0; padding: 0">
        {% for message in messages %}
        <div class="alert alert-info dismiss">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>Decks</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="{{ url_for('core.create_deck') }}">
                    <button type="button" class="btn btn-sm btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-plus">
                            <line x1="12" y1="5" x2="12" y2="19">
                            </line>
                            <line x1="5" y1="12" x2="19" y2="12">
                            </line>
                        </svg>
                        Add a deck
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <!-- Search filter -->
                <div class="d-flex justify-content-start align-items-center">
                    <form>
                        <!-- Search -->
                        <div class="input-group input-group-merge input-group-flush">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-search">
                                        <circle cx="11" cy="11" r="8"></circle>
                                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                    </svg>
                                </div>
                            </div>
                            <input id="datatableSearch" type="search" class="form-control" placeholder="Search decks">
                        </div>
                        <!-- End Search -->
                    </form>
                </div>

                <!-- Custom filters -->
                <div class="d-flex justify-content-start align-items-center">
                    <!-- Selected items count -->
                    <div id="selected_count" class="mr-2">
                    </div>

                    <!-- Filter decks by state -->
                    <div class="">
                        <select class="form-control select2" id="deck_name" name="deck_name">
                            <option></option>
                            <option value="Complete">Complete</option>
                            <option value="Studying">Studying</option>
                            <option value="New">New</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <table id="decksDt"
            class="pb-4 table table-lg table-striped table-nowrap table-align-middle border-bottom w-100">
            <thead>
                <tr>
                    <th class="pr-0" style="width: 26px">
                        <div class="custom-control custom-checkbox" style="padding-right: 0!important">
                            <input type="checkbox" class="custom-control-input" id="dt-select-all" value="1">
                            <label class="custom-control-label" for="dt-select-all"></label>
                        </div>
                    </th>
                    <th class="pl-0">Name</th>
                    <th>Cards</th>
                    <th>Status</th>
                    <th>Progress</th>
                    <th>Added On</th>
                    <th>#</th>
                    <th class="d-none"></th>
                </tr>
            </thead>
            <tbody>
                {% for deck in decks %}
                {% set deck=deck.to_json %}
                <tr data-id="{{deck.id}}">
                    <td class="min-tablet-p pr-0"></td>
                    <td class="pl-0 ellipsis-wrap">
                        <a class="dt-link d-flex align-items-center"
                            href="{{ url_for('core.get_deck', deck_id=deck.id) }}">
                            <div>
                                <span class="d-block h5 text-hover-primary">{{deck.name}}</span>
                                <span class="d-block text-no-hover" style="font-size: 0.78rem;">
                                    {% if deck.stats.last_studied %}
                                    Last studied: <span class="moment__relative_date"
                                        date="{{deck.stats.last_studied }}"></span>
                                    {% else %}
                                    Last Studied: N/A
                                    {% endif %}
                                </span>
                            </div>
                        </a>
                    </td>
                    <td>{{ deck.card_count }}</td>
                    <td>
                        {% if deck.state == "Complete" %}
                        <span class="bg-success mr-2"
                            style="height: .5rem; width: .5rem; border-radius: 50%; display: inline-block;">
                        </span>
                        {{ deck.state }}
                        {% elif deck.state == "In Progress" %}
                        <span class="bg-primary mr-2"
                            style="height: .5rem; width: .5rem; border-radius: 50%; display: inline-block;">
                        </span>
                        {{ deck.state }}
                        {% elif deck.state == "New" %}
                        <span class="bg-secondary mr-2"
                            style="height: .5rem; width: .5rem; border-radius: 50%; display: inline-block;">
                        </span>
                        {{ deck.state }}
                        {% endif %}
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="text-small mr-2">{{ deck.stats.progress }}%</span>
                            <div class="progress" style="height: 0.25rem; flex-grow: 1; min-width: 3rem;">
                                <div class="progress-bar" role="progressbar" style="width: {{deck.stats.progress}}%;"
                                    aria-valuenow="{{deck.stats.progress}}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <script>
                            document.write(moment.utc("{{ deck.date_created }}").local().format("LLL"));
                        </script>
                    </td>
                    <td>
                        <div class="dropdown custom-dropdown">
                            <a data-toggle="dropdown"
                                class="btn btn-sm mr-2 text-decoration-none text-secondary dropdown_hover">
                                <i class="fas fa-ellipsis-h"></i>
                            </a>
                            <div class=" dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" onclick="toggleDeckDtModal('{{deck.id}}')">
                                    <i class="fa fa-edit mr-2"></i> Edit
                                </a>
                                <a class="dropdown-item" href="{{ url_for('core.get_deck', deck_id=deck.id) }}">
                                    <i class="fa fa-eye mr-2"></i> View
                                </a>
                                <a class="dropdown-item text-danger" onclick="deleteItem('Deck', '{{deck.id}}')"
                                    data-id="{{deck.id}}">
                                    <i class="fa fa-trash mr-2"></i> Delete
                                </a>
                            </div>
                        </div>
                    </td>
                    <td class="d-none">{{ deck.id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <!-- 
        Edit deck modal start 
        For some reason, when placed inside the datatable this modal will not toggle..
    -->
    <div class="modal fade" id="editDeckDtModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="editDeckDtModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="staticBackdropLabel">Edit Deck</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <form id="editDeckDtForm">
                        <div class="form-group">
                            <label for="name">Deck Name</label>
                            <input type="text" name="name" id="name" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea id="description" name="description" class="form-control"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span class="text-secondary font-weight-bold mr-3" style="cursor: pointer;"
                        data-dismiss="modal">Close</span>
                    <input type="submit" id="editDeckDtFormSubmit" value="Update" class="btn btn-sm btn-primary">
                </div>
            </div>
        </div>
    </div>
    <!-- Edit modal end -->
</main>
{% endblock %}