{% extends './dashboard/index.html' %}

{% block maincontent %}
<script>
    active_study_session = "{{ session.active_study_session.id }}";
    active_deck = "{{ session.active_deck.id }}";
    active_card = "{{ session.active_card.id }}";
</script>
<style>
    .hover-dropdown .dropdown-toggle::after {
        display: none;
    }

    .hover-dropdown .dropdown-menu {
        margin-top: 0px;
    }

    .hover-dropdown.dropdown:hover .dropdown-menu {
        display: block;
    }

    .column-divider-md {
        border-left: 1px solid #dee2e6
    }

    @media (max-width: 767.98px) {
        .card .front {
            border-right: 0 solid #ffff !important;
            border-bottom: 1px solid #dee2e6 !important;
            padding-bottom: 1rem;
        }

        .card .back {
            padding-top: 1rem;
        }

        .column-divider-md {
            border-left: 0 solid #ffff;
        }
    }
</style>
<main id="main-content" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-5 mt-3 mb-5">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-4 mb-3 border-bottom">
        <div id="deck-header" class="d-flex flex-column">
            <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-book-open mr-2" style="height: 3rem; width: 2.5rem; color: #1e2022;">
                    <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z">
                    </path>
                    <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z">
                    </path>
                </svg>
                <h1 class="mr-1" style="margin-top: 0.5em;">
                    Studying {{ deck.name }}
                </h1>
            </div>
            <div class="deck-description">
                {{ deck.description }}
            </div>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0 mt-3 mt-md-0">
            <div class="btn-group">
                <a id="configure-studyplan-toggle" data-url="{{ url_for('core.edit_plan', plan_id=study_plan.id) }}"
                    data-toggle="tooltip" data-placement="bottom" title="Configure Study Plan"
                    class="mr-3 text-decoration-none btn btn-sm btn-outline-secondary" style="width: 40px; height: 40px; border-radius: 50%;
            text-align: center; line-height: 40px; vertical-align: middle; padding: 0px;">
                    <i class="fas fa-cog"></i>
                </a>
                <a href="{{ url_for('core.get_deck', deck_id=deck.id) }}" data-toggle="tooltip" data-placement="bottom"
                    title="End Study Session" class="mr-3 text-decoration-none btn btn-sm btn-outline-secondary" style="width: 40px; height: 40px; border-radius: 50%;
        text-align: center; line-height: 40px; vertical-align: middle; padding: 0px;">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </div>

        <!--Configure Study Plan modal start-->
        <div class="modal fade" id="configureStudyPlan" data-keyboard="false" tabindex="-1"
            aria-labelledby="configureStudyPlan" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="staticBackdropLabel">Configure current study plan</h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="render">

                    </div>
                </div>
            </div>
        </div>
        <!-- Configure Study Plan modal end -->

        <!--Study Session Complete modal start-->
        <div class="modal fade" id="studySessionComplete" data-backdrop="static" data-keyboard="false" tabindex="-1"
            aria-labelledby="studySessionComplete" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="staticBackdropLabel">Hooray! You have studied all cards in this deck
                        </h1>
                        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> -->
                    </div>
                    <div class="modal-body">
                        {% include "dashboard/decks/partials/session_stats.html" %}
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('core.get_deck', deck_id=deck.id) }}" class="mr-3">
                            <button type="button" class="btn btn-sm btn-info pl-2 pr-2">
                                <i class="fas fa-backward mr-2"></i>Back to deck
                            </button>
                        </a>
                        <a href="{{ url_for('core.study_deck', deck_id=deck.id) }}">
                            <button type="button" class="btn btn-sm btn-secondary pl-2 pr-2">
                                <i class="fas fa-redo mr-2"></i> Study Again
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Study Session Complete modal end -->
    </div>

    <div id="flashcards">
        {% if session['active_card'] is not none %}
        <div class="text-center" id="flashcard-progress">
            Studied
            <span id="study_session_studied">
                {{ study_session['unknown'] + study_session['known'] }}
            </span> /
            <span id="study_session_total">
                {{ deck.card_count }}
            </span> cards
        </div>
        <div class="flip-card-wrapper mt-1 mb-1 mb-lg-2">
            <div class="flip-card">
                <div id="card-legend">
                    <span id="card-legend-text" data-toggle="tooltip" data-placement="bottom"
                        title="Click card to flip side">front</span>
                </div>
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        {{ first_card.front }}
                    </div>
                    <div class="flip-card-back">
                        {{ first_card.back }}
                    </div>
                </div>
            </div>
            <!-- <div class="study-complete d-flex flex-column">
                You have studied all cards in this deck
                <div id="study-again" class="btn btn-success pl-5 pr-5 mt-2" data-toggle="tooltip"
                    data-placement="bottom" title="Study Deck Again">
                    <i class="fa fa-redo"></i>
                </div>
            </div> -->
        </div>
        <div id="flashcard-controls" class="d-flex justify-content-between">
            <button id="unknown-card" class="btn btn-danger pl-5 pr-5" data-toggle="tooltip" data-placement="bottom"
                title="Mark card as Unknown" study_session_id="{{ session.active_study_session.id }}"
                deck_id="{{ session.active_deck.id }}" card_id="{{ session.active_card.id }}">
                <i class="fa fa-times"></i>
            </button>
            <button id="flip-card-btn" class="btn btn-info pl-5 pr-5" data-toggle="tooltip" data-placement="bottom"
                title="Flip Flashcard">
                <i class="fa fa-random"></i>
            </button>
            <button id="known-card" class="btn btn-success pl-5 pr-5" data-toggle="tooltip" data-placement="bottom"
                title="Mark card as Known" study_session_id="{{ session.active_study_session.id }}"
                deck_id="{{ session.active_deck.id }}" card_id="{{ session.active_card.id }}">
                <i class="fa fa-check"></i>
            </button>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}
