{% extends "dashboard/index.html" %}

{% block maincontent %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-5 mt-3 mb-2">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flashes mt-2" style="text-decoration: none; list-style: none; margin: 0; padding: 0">
        {% for message in messages %}
        <div class="alert alert-info dismiss">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h3">Settings</h3>
        <!-- <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="{{ url_for('core.create_card') }}">
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-folder-plus">
                            <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z">
                            </path>
                            <line x1="12" y1="11" x2="12" y2="17"></line>
                            <line x1="9" y1="14" x2="15" y2="14"></line>
                        </svg>
                        Create a card
                    </button>
                </a>
            </div>
        </div> -->
    </div>

    <div class="container">
        <div class="card p-2">
            <h5>Update your profile</h4>
                <div class="card-body">
                </div>
        </div>
    </div>
</main>
{% endblock %}