{% extends "dashboard/index.html" %}

{% block maincontent %}
<main id="main-content" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-5 mt-3 mb-2">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flashes mt-2" style="text-decoration: none; list-style: none; margin: 0; padding: 0">
        {% for message in messages %}
        <div class="alert alert-info dismiss">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="mt-3 text-center">
        <h3>Account Settings</h3>
        <p class="h6">Update your account details and settings.</p>
    </div>
    <!-- Account and settings tab nav start -->
    <ul class="nav nav-tabs" id="settings_tab" role="tablist">
        <li class="nav-item mr-2">
            <a class="nav-link active" id="account-tab" data-toggle="tab" href="#account" role="tab"
                aria-controls="account" aria-selected="true">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings"
                aria-selected="false">Settings</a>
        </li>
    </ul>
    <!-- Account & settings tab nav end -->

    <!-- Tab content start -->
    <div class="tab-content">

        <!-- Account tab start -->
        <div class="mt-4 tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
            <div class="row mb-4">
                <div class="col-sm-12 col-md-3 col-lg-4">
                    <div class="update-details text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-user settings-page">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                        <h4>Edit details</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-md-9 col-lg-8">
                    <div class="card settings-card">
                        <div class="card-body">
                            <h3 class="h6 mb-3">Change your username:</h3>
                            <div id="username_reponse">
                                {% if username_response %}
                                {% if username_response['status'] == 1 %}
                                <div class="mt-2"
                                    style="text-decoration: none; list-style: none; margin: 0; padding: 0">
                                    <div class="alert alert-info dismiss">{{ username_response['message'] }}</div>
                                </div>
                                {% else %}
                                <div class="flashes mt-2"
                                    style="text-decoration: none; list-style: none; margin: 0; padding: 0">
                                    <div class="alert alert-danger dismiss">{{ username_response['message'] }}</div>
                                </div>
                                {% endif %}
                                {% endif %}
                            </div>
                            <form action="{{ url_for('user.change_username') }}" id="change_username" method="POST">
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input type="text" name="username" value="{{ user.username }}" id="username"
                                        class="form-control">
                                </div>
                                <div class="form-group d-flex justify-content-end">
                                    <input class="mt-1 btn btn-primary pl-5 pr-5" type="submit" value="Change Username">
                                </div>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            </form>
                        </div>
                    </div>

                    <div class="card settings-card mt-2">
                        <div class="card-body">
                            <h3 class="h6 mb-3" id=>Change your email:</h3>
                            <div id="email_response">
                                {% if email_response %}
                                {% if email_response['status'] == 1 %}
                                <div class="flashes mt-2"
                                    style="text-decoration: none; list-style: none; margin: 0; padding: 0">
                                    <div class="alert alert-info dismiss">{{ email_response['message'] }}</div>
                                </div>
                                {% else %}
                                <div class="flashes mt-2"
                                    style="text-decoration: none; list-style: none; margin: 0; padding: 0">
                                    <div class="alert alert-danger dismiss">{{ email_response['message'] }}</div>
                                </div>
                                {% endif %}
                                {% endif %}
                            </div>
                            <form class="form" id="change_email" method="POST"
                                action="{{ url_for('user.change_email') }}">
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="text" name="email" id="email" value="{{ user.email }}"
                                        class="form-control">
                                </div>

                                <div class="form-group d-flex justify-content-end">
                                    <input class="mt-1 btn btn-primary pl-5 pr-5" type="submit" value="Change Email">
                                </div>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-4">
                    <div class="update-details text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-key settings-page">
                            <path
                                d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4">
                            </path>
                        </svg>
                        <h4>Change password</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-md-9 col-lg-8">
                    <div class="card settings-card">
                        <div class="card-body">
                            <h3 class="h6 mb-3">Confirm your old password first before changing your password</h3>
                            <div id="change-password__feedback"></div>
                            <form class="form" id="change-password-form" method="POST">
                                <div class="form-group">
                                    <label for="old_password">Old password:</label>
                                    <input type="password" id="old_password" style="width: 90%; display: inline-block;"
                                        name="old_password" class="form-control">
                                    <span style="margin-left: -30px;
                                    cursor: pointer;" toggle="#password-field"
                                        class="fa fa-fw fa-eye field_icon toggle-password"
                                        passwordElement="old_password"></span>
                                </div>

                                <div class="form-group">
                                    <label for="password">New password:</label>
                                    <input style="width: 90%; display: inline-block;" type="password" id="password"
                                        name="password" class="form-control">
                                    <span style="margin-left: -30px;
                                        cursor: pointer;" toggle="#password-field"
                                        class="fa fa-fw fa-eye field_icon toggle-password"
                                        passwordElement="password"></span>
                                </div>

                                <div class="form-group">
                                    <label for="confirm_password">Confirm password:</label>
                                    <input style="width: 90%; display: inline-block;" type="password"
                                        id="confirm_password" name="confirm_password" class="form-control">
                                    <span style="margin-left: -30px;
                                        cursor: pointer;" toggle="#password-field"
                                        class="fa fa-fw fa-eye field_icon toggle-password"
                                        passwordElement="confirm_password"></span>
                                </div>

                                <div class="form-group d-flex justify-content-end">
                                    <button type="submit" id="change-password__submit-button"
                                        class="btn btn-primary pl-5 pr-5 mt-3">
                                        <div id="change-password__submit-loader"
                                            style="height: 1rem; width: 1rem; margin-bottom: 0.2rem;"
                                            class="spinner-border text-light d-none" role="status">
                                            <span class="sr-only">Loading</span>
                                        </div> <span id="change-password__submit-text">Confirm</span>
                                    </button>
                                </div>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Account tab end -->

        <!-- Settings tab start -->
        <div class="mt-4 tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            <div class="row mb-4">
                <div class="col-sm-12 col-md-3 col-lg-4">
                    <div class="update-details text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-trash settings-page">
                            <polyline points="3 6 5 6 21 6"></polyline>
                            <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                            </path>
                        </svg>
                        <h4>Delete account</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-md-9 col-lg-8">
                    <div class="card settings-card">
                        <div class="card-body">
                            <h3 class="h6 mb-3">Delete your account permanently</h3>
                            <div class="alert alert-danger custom-alert" role="alert">
                                <h6 class="alert-heading">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" color="rgb(255, 139, 0)" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-alert-triangle" style="width: 1.3rem; height: 1.3rem;">
                                        <path
                                            d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z">
                                        </path>
                                        <line x1="12" y1="9" x2="12" y2="13"></line>
                                        <line x1="12" y1="17" x2="12.01" y2="17"></line>
                                    </svg>
                                    Warning!</h6>
                                You will not be able to recover your account after this
                            </div>
                            <button class="btn btn-danger pr-5 pl-5 pt-2 pb-2 custom-btn">Delete Account</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Settings tab end -->
    </div>
    <!-- Tab content end -->

</main>
{% endblock %}
