body {
    padding: 0;
    margin: 0;
    /* font-family: "Nunito", sans-serif; */
    font-family: "Open Sans", sans-serif;
    font-size: .875rem;
    background: #fcfdfd;
    color: #677788;
    font-weight: 400;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1e2022;
}

h1 {
    font-size: 1.41094rem;
    font-weight: 600;
}

/* Dropdown Items */
.custom-dropdown a.dropdown_hover {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    padding: 0px;
}

.custom-dropdown a.dropdown_hover:hover{
    background-color: #eeeeee;
    color: #0052ea !important;
}

.custom-dropdown a.dropdown_hover:active, .custom-dropdown a.dropdown_hover:focus{
    background-color: #eeeeee;
    color: #0052ea !important;
}

.custom-dropdown .dropdown-item {
    padding: .375rem 1.5rem;
    font-weight: 400;
    color: #1e2022;
    font-size: .8125rem;
    white-space: nowrap;
    cursor: pointer;
}

.custom-dropdown .dropdown-item:hover {
    background-color: rgba(189,197,209,.3);
}

.custom-dropdown .dropdown-item:active {
    background-color: rgba(189,197,209,.3);
}

/* .dropdown-item {
    padding: .25rem 1rem;
} */

.dropdown-divider {
    margin: .2rem 0;
}


/* Feather icons */
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.feather.settings-page {
    height: 5rem;
    width: 5rem;
}


/*
   * Sidebar
*/

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: #ffffff;
    /* Behind the navbar */
    padding: 3rem 0 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
    border-left: 3px solid #ffff;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    border-left: solid 3px #D77A61;
    background-color: #fcf4f3;
}

.sidebar .nav-link:hover {
    background-color: #fcf4f3;
}


.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
   * Navbar
*/

.navbar {
    background: #223843;
}

.navbar .nav-link {
    color: #ffff;
    font-weight: 500;
}

.navbar .nav-link:hover {
    color: #D8B4A0;
}

.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover {
    background-color: #fcf4f3;
}

.navbar .dropdown-item.active,
.navbar .dropdown-item:active {
    background-color: #223843
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

a.navbar-brand {
    text-decoration: none;
    color: #eeeeee;
}

.navbar .navbar-toggler {
    /* top: .25rem; */
    right: 1rem;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

#navbar-nav-no-collapse {
    flex-direction: row !important;
    padding-left: 1rem;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none;
}

#navbar-nav-no-collapse .nav-link {
    padding: 0;
}

.navbar-toggler:focus {
    outline: none;
}

.nav-item .nav-link .feather {
    height: 18px;
    width: 18px;
    margin-right: 0.2rem;
}

.nav-search {
    border-right: 2px solid rgb(148, 148, 148);
}

/* Cards */
.card {
    box-shadow: 0 6px 12px rgba(140, 152, 164, .075);
    background-color: #fff;
    border-radius: 5px;
}

.card .card-header {
    border-bottom: none;
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem 1.25rem;
}

.settings-card {
    border-radius: 5px;
    width: 80%;
    /* margin: auto; */
}

.settings-card .card-header {
    background-color: #f7f2f2;
    border-radius: 0.45rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #dee2e6;
    padding: 1rem 1rem 0 1rem;
}

.settings-card h3 {
    color: #22323a;
    font-weight: 600;
}

/* Cards end */


/* Datatable */
.dt-icon {
    cursor: pointer;
}

.custom-dt {
    width: 100%;
    display: block;
    overflow-x: auto;
}

.custom-dt thead {
    background-color: #f7f2f2;
}

.custom-dt thead th {
    font-size: .75rem;
    color: #677788;
    text-transform: uppercase;
}


.custom-dt th,
.custom-dt td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: none;
    white-space: nowrap;
}

.custom-dt td {
    color: #677788;
    font-weight: 400;
}

.custom-dt td a.dt-link {
    text-decoration: none;
    color: inherit;
}

.custom-dt td a.dt-link:hover .text-hover-primary {
    color: #007bff;
}

.custom-dt td a.dt-link .h5 {
    font-size: 0.875rem;
    font-weight: 600;
}

.custom-dt th:focus,
.custom-dt td:focus {
    outline: none;
}

.custom-dt td .custom-control.custom-checkbox {
    padding-right: 0;
}

/* div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: pre-wrap;
} */

.dataTables_wrapper .row:first-of-type {
    padding: 1.3125rem 1.3125rem;
    padding-bottom: 0.5rem;
}

.dataTables_wrapper .row:last-of-type {
    padding: 1.3125rem 1.3125rem;
    padding-top: 0;
}

.dataTables_paginate .pagination .paginate_button {
    margin-right: 0.2rem;
}

.dataTables_paginate .pagination .paginate_button .page-link {
    border: none;
    border-radius: .3rem;
}

.dataTables_paginate .pagination .paginate_button .page-link:focus {
    outline: none;
    box-shadow: none;
}


/* Cards Dt display  */

#cardsDt_wrapper .row:first-of-type {
    padding: 0;
    padding-bottom: 0;
}

#cardsDt_wrapper .row:last-of-type {
    padding: 0;
    padding-top: 0;
}



/* Dt controls styling*/
.input-group-merge {
    position: relative;
}

.input-group-merge .input-group-prepend {
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
}

.input-group-flush .form-control {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    box-shadow: none;
    border-radius: 0;
}

.input-group-merge .input-group-text {
    border: none;
    background-color: transparent;
    padding: 0 0 0 0;
    border-radius: 0;
}

.input-group-flush.input-group-merge .custom-select:not(:first-child),
.input-group-flush.input-group-merge .form-control:not(:first-child) {
    padding-left: 1.5rem;
}

.input-group-text:focus {
    border-color: #80bdff;
}

/* Datatables end */


/* Study Flashcards section */
#flashcards {
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    overflow-x: hidden;
    overflow-y: hidden;
}

#flashcards #flashcard-progress {
    text-transform: uppercase;
    font-size: 0.85rem;
    color: #223843;
    margin-bottom: 0.5rem;
}


#flashcards #card-legend {
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 6px;
    transition: transform 0.6s;
}


#flashcards #card-legend #card-legend-text {
    text-transform: uppercase;
    font-size: 0.65rem;
    color: #223843;
    transition: transform 0.6s;
}

#flashcards #flashcard-controls {
    margin-top: 1rem;
}

#flashcards #flashcard-controls .btn {
    width: 33%;
}

#flashcards #flashcard-controls .btn i {
    font-size: 1.5rem;
}

.flip-card {
  background-color: transparent;
  cursor: pointer;
  height: 300px;
  perspective: 1000px;
  text-align: center;
}

.study-complete {
    background-color: transparent;
    cursor: pointer;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    text-align: center;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.flip-card-front, .flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
  background-color:whitesmoke;
  color: #223843;
}

.flip-card-back {
  background-color: #72b6e4;
  color: white;
  transform: rotateY(180deg);
}


@media screen and (max-width: 767px) {

    #flashcards {
        width: 100%;
    }

    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter {
        text-align: left;
    }
}



/* Select-2 styles */

.select2-container--default .select2-selection--single {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
}

.select2-search__field {
    border-radius: 0.25rem;
}

.select2-selection.select2-selection--single:focus,
.select2-search__field:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

/* Select 2 styles end */


/* Custom checkbox switch styles begin */
.custom-switch .custom-control-label::before {
    width: 3rem;
    height: 1.65rem;
    border-radius: 1rem;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: #fff;
    -webkit-transform: translateX(.4rem);
    transform: translateX(1.4rem);
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.custom-switch .custom-control-label::after {
    top: calc(.3rem + 2px);
    left: calc(-2.2rem + 2px);
    width: calc(1.5rem - 4px);
    height: calc(1.5rem - 4px);
    background-color: #adb5bd;
    border-radius: 1rem;
}

.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
}

/* Checkbox styles end */




/* Nav tabs styles start */
.nav.nav-tabs {
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: nowrap;
}

.nav.nav-tabs .nav-item .nav-link {
    background-color: #dbd3d8;
    /* background-color: #e9e9e9; */
    color: #37515e;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    font-weight: 600;
    padding: .5rem 1.5rem;
}

.nav.nav-tabs .nav-item .nav-link.active {
    background-color: #ffff;
}

.nav.nav-tabs .nav-item .nav-link:not(.active):hover {
    background-color: #d4d1d1;
}

/* End nav tabs */



/* Custom Alert styles */
.custom-alert {
    color: #22323a;
    background-color: #faedef;
    border-color: transparent;
}

.custom-alert .alert-heading {
    font-weight: 600;
    color: #384850;
}

/* Custom alert styles end */


/* background-color: #dc3545; */

/* Custom danger btn */
.settings-card .custom-btn {
    background-color: #ce4855;
    border-color: transparent;
    font-weight: 600;
    font-size: 0.95rem;
}

.settings-card .custom-btn:hover {
    background-color: #ee7985;
}


/* Main content container */
#main-content {
    display: none;
}


/* Media queries */
@media (max-width: 520px) {
    #cardsDt_filters_wrapper {
        flex-wrap: wrap;
    }

    #cardsDt_filters_wrapper #cardsDt_filters_search {
        width: 100%;
        justify-content: space-between !important;
    }
    #cardsDt_filters_wrapper #cardsDt_filters_custom {
        width: 100%;
        /* flex-wrap: wrap; */
        /* justify-content: space-between !important; */
    }

    #cardsDt_filters_wrapper #cardsDt_filters_custom .select2-container {
        margin-top: 1rem;
        width: 100%;
        /* justify-content: space-between !important; */
    }

    #cardsDt_filters_wrapper #cardsDt_filters_custom .select2-container--default .select2-selection--single {
        height: 2rem;
        padding: 0.2rem 0.2rem;
        overflow: show;
        /* text-overflow: ellipsis; */
        white-space: nowrap;
    }

    #cardsDt_filters_wrapper #cardsDt_filters_custom .select2-selection--single .select2-selection__rendered {
        text-overflow: clip;
        padding-right: 45px;
    }

    #cardsDt_filters_wrapper #cardsDt_filters_custom #selected_count {
        margin-top: 1rem;
        width: 100%;
        margin: 0;
        padding: 0;
    }
 }

@media (max-width: 767.98px) {


    .navbar-brand.col-lg-2,
    .navbar-brand.col-md-3 {
        position: relative;
        width: 40%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .nav-item .nav-link .feather {
        height: 25px;
        width: 25px;
        margin-right: 0;
    }

    #navbar-nav-no-collapse {
        margin-right: 4rem !important;
    }

    .nav.nav-tabs {
        overflow-x: scroll;
        white-space: nowrap;
    }

    .card.settings-card {
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 1024px) {
    .settings-card {
        border-radius: 5px;
        width: 90%;
        margin: auto;
    }
}